<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{user/base.html :: head(title='My Notes')}"></head>
<body>
<nav th:replace="~{user/base.html :: nav}"></nav>

<div class="container mt-4">
    <h2>My Notes</h2>
    <div th:each="note : ${notes}">
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title" th:text="${note.title}"></h5>
                <p class="card-text" th:text="${note.content}"></p>
                <p class="card-text">
                    <span th:if="${note.isEncrypted}">Encrypted</span>
                    <span th:if="${!note.isEncrypted}">Not Encrypted</span>
                </p>
                <p class="card-text">
                    <span th:if="${note.isPublic}">Public</span>
                    <span th:if="${!note.isPublic}">Private</span>
                </p>
                <button type="button" class="btn btn-primary" th:onclick="'editNote(' + ${note.id} + ')'">Edit</button>
                <button type="button" class="btn btn-success" th:onclick="'toggleEncryption(' + ${note.id} + ')'">
                    Encrypt/Decrypt
                </button>
                <a class="btn btn-danger" th:href="@{/notes/delete/{id}(id=${note.id})}">
                    Delete
                </a>

            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{user/base.html :: scripts}"></th:block>
<script th:src="@{/js/delete-modal-window.js}" type="text/javascript"></script>
</body>
</html>
