.navbar .nav-item .nav-link {
    font-size: 20px;
    color: white;
}

.navbar .nav-item:hover .nav-link {
    background: white;
    color: black;
    border-radius: 0.625rem;
}

#content {
    height: 17rem;
}

.form-group {
    margin-bottom: 1.25rem;
}

.form-check {
    margin-bottom: 1.25rem;
}
