<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{base.html :: head(title='QR Code')}"></head>

<body>
<nav th:replace="~{base.html :: nav}"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1>Your QR Code</h1>
            <img th:src="'data:image/png;base64,' + ${imageBase64}" alt="QR Code" class="mx-auto d-block">
            <p>Scan the QR code using Google authenticator app.</p>
            <p>Username: <span th:text="${username}"></span></p>
            <a th:href="@{/login}" class="btn btn-primary mt-3">Go to Login</a>
        </div>
    </div>
</div>
<th:block th:replace="~{base.html :: scripts}"></th:block>
</body>
</html>
